table {
    background-color: rgb(255, 250, 228);
    font-size: .9rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



tr {
    border: 1px solid silver;
    cursor: pointer;
}

tr:hover {
    background-color: rgb(236, 231, 208);
    
}

.selected {
    background-color: lightgreen;
}

.selected:hover {
    background-color: lightgreen;
}


td, th {
    padding: 5px 2px;
}